@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{

margin-left: 0px;

padding: 5px;

}

body{

font-family: 'Open Sans', sans-serif;
background-color: #88c2c2;
}

header{

background-color: #88c2c2;

height: 316px;

}

h1{

    font-family: 'Bangers', cursive;
    
    }