@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');

*{ box-sizing: border-box;



}

#navegacion{
    float: right;
    background-color: lightgray;
    height: 700px;
    width: 833px;
}
.nav{ background-color: #215c6b;}

body{

font-family:'Crimson';
background-color: #215c6b;
}

#foto{ 
    height: 700px;
    width: 500px;
}

#presentacion {
    padding-left: 130px;
    padding-top: 200px;
}

h1{

    font-family: 'Crimson';
    font-size: 50px;
    
    }
#name{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

#ocupacion{
    padding-top: 30px;
    font-size: 25px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#bar{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 110px;
    padding-right: 24px;
    padding-bottom: 76px;
    padding-left: 110px;
    background-color: lightsteelblue;
}

#Datos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
    margin: 90px;
    padding: 40px;

}

#PERFIL{
    font-size: 45px;
    padding-bottom: 25px;
    padding-left: 350px;
    padding-right: 350px;
    margin: 0;

}
#infoperfil{
    font-size: 25px;
}


#datosrelevantes{
    background-color: lightgray;
    margin: 40px;
    padding: 30px;
}

#xpcompleta{
    margin: 0;
    padding-left: 396px;
    padding-right: 412px;
}
#EXPERIENCIA{
    margin: 20px;
    font-size: 40px;
    background-color: lightsteelblue;
}